{{ form_start(form) }}
    {{ form_row(form.libelle) }}

    <div class="buttons mt-5">
        <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
        <a class="btn btn-secondary" href="{{ path('type_index') }}">Retour</a>
    </div>

{{ form_end(form) }}
