{% extends 'layouts/not-logged.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block title_content %}
    <h1 class="text-center mb-5">Inscription</h1>
{% endblock %}

{% block content %}
    <style>
        input{
            margin: 2% 0 7%;
            width: 100%;
            height: 40px;
        }

        label{
            font-size: 20px;
        }

        button{
            height: 40px;
            padding-top: 1%!important;
        }

    </style>

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
    <div class="w-100 text-end">
        <button type="submit" class="btn btn-primary">Inscription</button>
    </div>

    <p class="text-center text-muted mb-0 mt-5">Vous avez déjà un compte ? <a class="text-muted" href="{{ path('app_login') }}">Connectez-vous !</a></p>

    {{ form_end(registrationForm) }}
{% endblock %}
