{% extends "base.html.twig" %}
{% set route = app.request.attributes.get('_route') %}

{% block home %}
    <div class="grid-body">
        <div class="header-menu">
            <h2 class="text-center mb-5 p-3">Symfony Immobillier</h2>
            <ul>
                <li class="{{ 'home' in route ? 'active' }}"><a href="{{ path('home') }}"><i class="fas fa-home item-right"></i> Accueil</a></li>
                <li class="{{ 'property' in route ? 'active' }}"><a href="{{ path('property_index') }}"><i class="far fa-building item-right"></i> Mes biens</a></li>
                <li class="{{ 'tenant' in route ? 'active' }}"><a href="{{ path('tenant_index') }}"><i class="far fa-user item-right"></i> Mes locataires</a></li>
                <li class="{{ 'lease' in route ? 'active' }}"><a href="{{ path('lease_index') }}"><i class="fas fa-house-user item-right"></i> Mes locations</a></li>
                <li><hr class="divider"></li>
                <li class="{{ 'type' in route ? 'active' }}"><a href="{{ path('type_index') }}"><i class="fas fa-quote-right item-right"></i> Mes types</a></li>
                <li class="{{ 'address' in route ? 'active' }}"><a href="{{ path('address_index') }}"><i class="fas fa-map-marker-alt item-right"></i> Mes adresses</a></li>
            </ul>
        </div>

        <div class="header">
            <div class="logout-div container">
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>

        </div>

        <div class="content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>

        <div class="footer">
            <div class="footer-div container">
                <p>© Copyright 2021 - by <a href="https://ort-france.fr/toulouse">ORT Toulouse</a></p>
            </div>
        </div>

    </div>


{% endblock %}