{{ form_start(form) }}

    {{ form_row(form.address) }}
    {{ form_row(form.postalCode) }}
    {{ form_row(form.city) }}

    <div class="buttons">
        <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
        <a class="btn btn-secondary" href="{{ path('address_index') }}">Retour</a>
    </div>

{{ form_end(form) }}
